## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

## NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Azure
.publish/
*.azurePubxml

## Tye
.tye/

## dotnet watch
**/staticwebassets.build.json
**/staticwebassets.development.json
**/staticwebassets.runtime.json

## User-specific files
*.swp
*~

## Secrets
secrets.json

## Mac
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Linux
*.pid

## Others
*.cache
*.dbmdl
*.jfm
*.ide